
    <header>
        <div class="header">
            <h1>My Website</h1>
            <p>A <b>responsive</b> website created by me.</p>
        </div>

        <div class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#" class="right">Link</a>
        </div>

    </header>



@*<header>
    <div class="menu-toggle"></div>
    <nav id="nv">
        <img class="logo" src="~/images/gallery/logo/logo.png" />
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <h1>Fiexd Navigation Menu</h1>
</header>*@

