@model EmployeeViewModel  
@{
    @*ViewData["Title"] = "Details";*@
ViewBag.Title = "Employee Details";
//var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "noimage.jpg");
}

<h1>Details</h1>

